@import  'bg-top.scss';
// 
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// .bg-top{
//     background-image: url("../images/gim.jpg");
//     height: 100vh;
//     width: 100%;
//     // width: 100%;
//     // height: 100vh;
//     // // background-image: url("img_tree.gif");
//     // background: url("../images/gim.jpg");
//     // background-size: cover;
//     // background-repeat: no-repeat;
//     // background-position: center center;
//     // .overlay{
//     //     position: absolute;
//     //     top: 0;
//     //     left: 0;
//     //     right: 0;
//     //     bottom: 0;
//     //     content: '';
//     //     opacity: .2;
//     //     background: #000;
//     // }
// }